body {
    background-color: #141414;
}

#Container {
    position: relative;
}

#Rows {
    padding: 20px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

#Rowp {
    transition: transform 0.5s ease-in-out;
    padding: 10px;
}

#Rowp:hover {
    transform: scale(1.3);
}

#Rows::-webkit-scrollbar {
    display: none;
}

#TitleI {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

#TitleII {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left: 25px;
}

#MainBanner {
    background-image: url("../IMGS/LaCasa.jpg");
    background-size: cover;
    height: 900px;
}

#Content {
    position: absolute;
    left: 10%;
    top: 25%;
}

#Desc {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    max-width: 1000px;
}


#Play {
    position: absolute;
    top: 60%;
    outline: none;
    border: none;
    font-size: 30px;
    color: black;
    height: 50px;
    width: 10%;
    border-radius: 4%;
    background-color: white;
}

#MoreInfo {
    position: absolute;
    top: 60%;
    left: 15%;
    outline: none;
    border: none;
    font-size: 30px;
    color: white;
    height: 50px;
    width: 18%;
    border-radius: 4%;
    background-color: gray;
    filter: opacity(70%);
}

#Play:hover {
    filter: opacity(50%);
}

#MoreInfo:hover {
    filter: opacity(50%);
}

#Fade {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 100%;
    background-image: linear-gradient(180deg, transparent, rgba(20, 20, 20, 0.6), rgb(20, 20, 20));
}

#UpperBar {
    position: fixed;
    width: 100%;
    top: 0%;
    height: 150px;
    background-image: linear-gradient(0deg, transparent, rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 1));
}

#Netflix {
    position: absolute;
    height: 18%;
    left: 2%;
    top: 10%;
}

#Home {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    left: 8%;
    top: 3%;
    color: white
}

#TVShows {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    left: 11%;
    top: 3%;
    color: white
}

#Movies {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    left: 15.5%;
    top: 3%;
    color: white;
}

#New-Popular {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    left: 19%;
    top: 3%;
    color: white;
}

#MyList {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    left: 24.5%;
    top: 3%;
    color: white;
}

#BrowseByLanguage {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    left: 28%;
    top: 3%;
    color: white;
}

#UserIcon {
    position: absolute;
    border-radius: 10%;
    width: auto;
    height: 23%;
    right: 3%;
    top: 10%
}